<div class="auth-container">
  <h2>{{ esRegistro ? 'Crear una cuenta' : 'Iniciar Sesión' }}</h2>

  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label>Nombre de Usuario</label>
      <input type="text" formControlName="usuario" placeholder="SinEspacios">
      <span class="error" *ngIf="authForm.get('usuario')?.invalid && authForm.get('usuario')?.touched">
        El usuario es obligatorio y no puede contener espacios.
      </span>
    </div>

    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" formControlName="password" placeholder="Mínimo 6 caracteres">
      <span class="error" *ngIf="authForm.get('password')?.invalid && authForm.get('password')?.touched">
        Mínimo 6 caracteres válidos (no pueden ser solo espacios).
      </span>
    </div>

    <button type="submit" [disabled]="authForm.invalid">
      {{ esRegistro ? 'Registrarme' : 'Entrar' }}
    </button>

  </form>

  <p class="toggle-text">
    {{ esRegistro ? '¿Ya tienes cuenta?' : '¿No tienes cuenta?' }}
    <a href="javascript:void(0)" (click)="toggleModo()">
      {{ esRegistro ? 'Inicia sesión aquí' : 'Regístrate aquí' }}
    </a>
  </p>

  <div class="alerta-error" *ngIf="mensajeError">
      {{ mensajeError }}
    </div>
</div>

